<% provide(:title, 'About Us') %>

<div class="center hero-unit">
<h1>About us (well.. me)</h1>
<br><br>
  Let's be honest guys, the <a href="https://www.facebook.com/groups/183982701665517/">facebook page</a> to sell books doesn't work very well. You can't search, sent messages are often lost
  in that 'Other' folder, and you don't know when something's already been sold. Definitely room for improvement.
  <br><br>
  <div style="text-align:left">
  <ul>
  <li>
    SB Books supports tags. Want to search for your professor? Cool. Or class name? Perfect.
    </li>
    
  <li>
  Listings get removed as they are sold.. No more guessing.
    </li>
    <br>
  <li>
  Bug? Idea? Epiphany? Hungry? Contact me
  </li>
  
  </ul>
  <div>
  <br><br>
</div>